@model BandAide.Web.Models.ViewModels.BandDashboardVM

@{
    ViewBag.Title = "BandDashboard";
}

<h2>@Model.Band.Name</h2>
<h5>Created on @Model.Band.CreatedOn.ToShortDateString()</h5>

<div>
    <hr />
    <dl class="dl-horizontal"></dl>
</div>
<p>

    @Html.ActionLink("Back to User Dashboard", "Index", "Home")
</p>
