@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-xs-12">
        <h2>Welcome!</h2>
        <h6>@Html.ActionLink("Register", "Register", "Account") or @Html.ActionLink("sign in", "Login", "Account")</h6>
    </div>
</div>