.navbar .nav {
    padding-top: 0px;
    margin-top: 0px;
    z-index: 1;
    text-align: center;
    height: auto;
    display: block;
}

.nav .open > a {
    align-items: center;
    color: white;
    background-color: black;
    background-color: rgba(0, 0, 0, .8);
}

    .nav .open > a:hover {
        align-items: center;
        color: white;
        background-color: black;
        background-color: rgba(0, 0, 0, .7);
    }

    .nav .open > a:focus {
        align-items: center;
        color: white;
        background-color: black;
        background-color: rgba(0, 0, 0, .5);
    }

.nav > li {
    align-items: center;
    color: white;
    background-color: black;
    background-color: rgba(0, 0, 0, .8);
}

    .nav > li > a:hover,
    .nav > li > a:focus {
        color: white;
        background-color: black;
        background-color: rgba(0, 0, 0, .25);
    }

.header-content {
    background: linear-gradient( to bottom, black, #2b2626 );
}

.nav-pills {
    /*background-color: black;
    background-color: rgba(0, 0, 0, .8);*/
}
.dropdown-menu {
    background: grey;
    background: rgba(255,255,255,.8)
}
.dropdown-menu > li > a {
    color: white;
}
.dropdown-items {
    background-color: black;
    background-color: rgba(0,0,0,.9);
    color: white;
    
}

body {
    color: white;
    background-image: url('background.png');
    background-repeat: repeat;
    padding-top: 0px;
    padding-bottom: 20px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}
/*.dropdown-menu {
    background-color: black;
    background-color: rgba(0, 0, 0, .8);
    cursor: pointer;

}*/

/*.dropdown-toggle {
    background-color: black;
    background-color: rgba(0, 0, 0, .7);
}*/
