.navbar {
    padding-top: 0px;
    margin-top: 0px;
    /*position: center;*/
    z-index: 1;
    text-align: center;
    display: block;
}

.header-content {
    background: linear-gradient( to right, yellow, black );
}

.nav-pills {
    /*background-color: #ff6a00;*/
    background: linear-gradient( to right, yellow, black );
    /*outline-color: white;*/
}

.dropdown-menu {
    cursor: pointer;
}

.modal-content {
    color: black;
}

.dropdown-toggle {
    background-color: white;
}


body {
    background-color
    padding-top: 0px;
    padding-bottom: 20px;
}
/* Set padding to keep content from hitting the edges */
.body-content { 
    background:black;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
