@model List<BandAide.Web.Models.Band>

@{
    ViewBag.Title = "Query Results";
}

<div class="container">

    <div class="row">
        <div class="col-xs-3">
            Band
        </div>
        <div class="col-xs-9">
            Members
        </div>
    </div>
    <hr />
    @foreach (var item in Model)
    {
        if (item == null)
         {
             continue;
         }
        <div class="row">
            <div class = "col-xs-4" >
                @{
                   
                        @Html.ActionLink(item.Name, "BandDashboard", "Home", new { bandId = item.Id }, null) <br />
                   

                }
                
            </div>

            <div class="col-xs-8">
                @foreach (var u in item.Members)
                {
                    @Html.ActionLink(u.FullName, "Details", "Users", new { userId = u.Id }, null)
                    <div class="text-muted">
                    @foreach (var s in u.InstrumentSkills)
                    {
                        @(s.Instrument.Name + " ")
                    }
                    </div>
                }
            </div>
        </div>
    }
    </div>

